/* Top Header Style */
.jumbotron{
    background-color: #0B222A;
}
.jumbotron h1{
    color:  #fff;
    font-family: "Oswald";
}
.jumbotron p {
    color: #ecf0f1;
}

.jumbotron .lead .btn{
    background-color: #E03E20;
    border: none;
}




p{
    color: #212121;
    font-size: 56px;
}
