/* General Style */
.wrapper{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

p{
    color: #212121;
    font-size: 56px;
}



/* Row Style */
.row {
    margin-bottom: 10px;
    margin: 0 auto;
}
.row div{
    margin-bottom: 5px;
}


/* Top Header Style */
.jumbotron{
    background-color: #0B222A;
}
.jumbotron h1{
    color:  #fff;
    font-family: "Oswald";
}
.jumbotron p {
    color: #ecf0f1;
}

.jumbotron .lead .btn{
    background-color: #E03E20;
    border: none;
}

/* Card Style */
.card{
    padding: 0;
    height: 312px;
}
.card-text {
    font-size: 12px;
}
.card h4{
    text-align: center;
}

.card-img-top {
    margin: 3px 3px 3px 3px;
}




